# 忽略 outputs 文件夹 (通常在项目根目录)
**/outputs/

# 忽略 combusion_dataset 文件夹 (通常在项目根目录)
**/combustion_dataset/

# 忽略所有 __pycache__ 文件夹，无论它们在哪个子目录中
**/__pycache__/

# 忽略所有 __pycache__ 文件夹，无论它们在哪个子目录中
**/.venv/

# 忽略原始数据
*.npy

# 忽略vscode文件
**/.vscode/
